/* SOCIAL SOCIAL SOCIAL SOCIAL SOCIAL SOCIAL SOCIAL SOCIAL SOCIAL SOCIAL SOCIAL SOCIAL SOCIAL SOCIAL SOCIAL SOCIAL SOCIAL SOCIAL SOCIAL SOCIAL SOCIAL SOCIAL SOCIAL  */

/* Config principal dos icones    Config principal dos icones */

/* Quando estiver com o mouse em cima, abre o menu */

body{
    overflow-x: hid0den;
    margin: 0;
    width: 100vw;
}

header{
    background-image: url("images/header/bg.png");
    height: 40vh;
    width: 100%;    
    display: flex;
}

#socialemenu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150vw;    
}

a:link{
    text-decoration: none;
}

/* Menu de icones */

#iconesheader{  
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 12vw;
    width: 42vw;  
    z-index: 5;
}

#iconeemail{
    padding: 7px;
    border-radius: 100%;
    background-color: black;
    height: 40px;
    width: 40px;
    margin: 10px;
}
#iconeyoutube{
    padding: 7px;
    border-radius: 100%;
    background-color: black;
    height: 40px;
    width: 40px;
    margin: 10px;
}
#iconefacebook{
    padding: 7px;
    border-radius: 100%;
    background-color: black;
    height: 40px;
    width: 40px;
    margin: 10px;
}
#iconetwitter{
    padding: 7px;
    border-radius: 100%;
    background-color: black;
    height: 40px;
    width: 40px;
    margin: 10px;
}
#iconeinstagram{
    padding: 7px;
    border-radius: 100%;
    background-color: black;
    height: 40px;
    width: 40px;
    margin: 10px;
}

/* Trocar cor icones    Trocar cor icones    Trocar cor icones */
#iconeemail:hover{
    background-color: #d7473b;
    
}
#iconeyoutube:hover{
    background-color: #fe0000;
}
#iconefacebook:hover{
    background-color: #4267b2;
}
#iconetwitter:hover{
    background-color: #1da1f2;
}
#iconeinstagram:hover{
    background-color: #d93687;
}

/* TÍTULO     TÍTULO     TÍTULO     TÍTULO     */

#titulodiv{
    width: 45vw;
}

#titulo{
    display: flex;
    padding: 70px 220px 0 0;
    width: 40vw;
    z-index: 10;
}
    /* MENU MENU MENU MENU MENU MENU MENU  */

    #divmenu{
        margin: 0 0 0 1vw;
        width: 60vw;
    }

#menu{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    z-index: 10;
    bottom: 30vh;
    left: 39vw;
    align-self: flex-end;
    height: 7vh;
    background-image: url("images/header/menu.png");
    background-repeat: no-repeat;
}

#tituloemenu{
    display: flex;
    justify-content: space-between;
}

.menuitems{
    margin: 1%; 
    padding: 0px 0.4vw;
    justify-content:  center;
    align-self: flex-start; 
    font-size: 23px;
    display: flex;
    font-family: 'Titillium Web';
    z-index: 10;
    font-style: normal;
    color: white;
    text-decoration: none;
}

/*#imagemenu{
    padding: 5px;
    bottom: 20vh;
    display: flex;
    align-content: flex-end;
    width: 500px;
    z-index: 2;
}*/ 


/* Notícias em DESTAQUE */

#notS{
    display: flex;
    margin: 3vh;
    align-content: center;
    justify-content: center;
}

#notM{
    justify-content: center;
    display: flex;
}

#notO{
    padding: 5px;
    top: 96vh;
    right: 28vh;
    height: 30vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

#notO1{
    justify-content: center;
    padding: 5px;
    background-color: black;
    height: 4vw;
    width: 30vw;    
    margin: 10px;    
    bottom: 80.1vw;
    left: 55vw;
}
    #notO1:hover{
        background-color: red;
    }
#notO2{
    padding: 5px;
    background-color: black;
    height: 4vw;
    width: 30vw;
    margin: 10px;    
    bottom: 80.1vw;
    left: 55vw;
}
    #notO2:hover{
        background-color: red;
    }
#notO3{
    padding: 5px;
    background-color: black;
    height: 4vw;
    width: 30vw;
    margin: 10px;    
    bottom: 80.1vw;
    left: 55vw;
}
#notO3:hover{
    background-color: red;
}
#notO4{
    padding: 5px;
    background-color: black;
    height: 4vw;
    width: 30vw;
    margin: 10px;    
    bottom: 80.1vw;
    left: 55vw;
}
#notO4:hover{
    background-color: red;
}
.notTx{
    color: white;
    justify-content: center;
    height: 0%;
}

/* TIMELINE  TIMELINE  TIMELINE  TIMELINE  TIMELINE  TIMELINE  TIMELINE  TIMELINE  TIMELINE  TIMELINE  TIMELINE  TIMELINE  TIMELINE  TIMELINE*/

.titulotime{
    display: flex;
    justify-content: center;
}

#timeline{
    display: flex;
    flex-direction: column;
    bottom: 350px;

}
.timelinerow{
    flex-direction: row;
    display: flex;
}
.timelinerowp{
    flex-direction: row;
    display: flex;
    background-color: lightcoral;
}


.timelineimg{
    align-content: flex-start;
}
.timelinetxt{
align-content: flex-end;
left: 5px;

}

/*  PROCURA E PATROCINIOS  PROCURA E PATROCINIOS  PROCURA E PATROCINIOS  PROCURA E PATROCINIOS  PROCURA E PATROCINIOS  PROCURA E PATROCINIOS */

#patrocinio{
    display: flex;
    align-content: center;
    align-items: center;
    bottom: 325px;
    flex-direction: column;

}

#patimg{
    display: flex;
    flex-direction: row;
}

#patrociniodir{
    display: flex;
    align-content: flex-start;
    flex-direction: row;
}

#patrocinioesq{
    display: flex;
    align-content: flex-end;
    flex-direction: row;
}

.patrocinioimg{
    height: 100px;
    z-index: 10;
}
/* RESPONSABILIDADE__ICONES__RESPONSABILIDADE__ICONES__RESPONSABILIDADE__ICONES__RESPONSABILIDADE__ICONES__RESPONSABILIDADE__ICONES__RESPONSABILIDADE__ICONES__ */
@media (max-width:400px){

    /* TÍTULO     TÍTULO     TÍTULO     TÍTULO     */

#titulo{
    padding: 10pt;
    bottom: 33px;
    width: 50vw;
    z-index: 10;
}
}
/* Poe o overflow: hidden 

body{
    overflow-x: hidden;
}

*/